# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v2
    - run: |
        pwd && ls
        mkdir -p /var/www/html
        sudo cp -r . /var/www/html
        cd /var/www/html
        npm i
        npm run build
        pm2 restart pm2.json
